/*body {
	margin: 20px auto;
}
*/
h1 {
	width: 30%;
	margin: 0 auto 0 1.66%;
	font-family: Raleway;
}

h2 {
	width: 80%;
	margin: 0 auto 0 1.66%;
	font-family: 微软雅黑;
}

p {
	width: 80%;
	margin: 0 auto 0 1.66%;
	font-family: 微软雅黑;
}

#title {
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #F1F1F1;
	padding: 20px 0;
}

img {
	float: left;
	width: 30%;
	margin: 1.66%;
}

table {
	border-spacing: 40px;
	border: none;
	margin: auto;
}

/*td {*/
	/*width: 300px;*/
	/*height:	300px;*/
/*}*/